<%- include('../layout/adminHeader.ejs')%>
 <%- include('../layout/headerLinks.ejs')%>
        <div class="container line-break-top line-break text-center py-3">
            <span class="shadow-heading">DashBoard</span>
        </div>
        <!-- <div class="col-md-10 mx-auto my-3">
            <div class="row m-0">
                <div class="col-xl-3 col-lg-6 mb-2">
                    <div class="card l-bg-cherry">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Orders</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h4 class="d-flex align-items-center mb-0">
                                        <%=locals.orderCount%>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-2 ">
                    <div class="card l-bg-blue-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Customers</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h4 class="d-flex align-items-center mb-0">
                                        <%=locals.customerCount%>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-2">
                    <div class="card l-bg-green-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-clock"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Products</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h4 class="d-flex align-items-center mb-0">
                                        <%=locals.productCount%>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-2">
                    <div class="card l-bg-orange-dark">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">Revenue ₹</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h4 class="d-flex align-items-center mb-0">
                                        <%=locals.totalRevenue%>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <footer class="bg-theme">
            <div
              class="container links pt-4 pb-2 row mx-auto line-break d-flex justify-content-around"
            >
              <a class="col-lg-3 pb-2 text-center" href="#">Contact Us</a>
              <a class="col-lg-3 pb-2 text-center" href="#">About us</a>
            </div>
            <div class="copyright bg-theme py-2 text-center">
              <span>Copyright © 2023 | PetCommerce | Made by <a href="https://github.com/Sarathdaskv">Sarath Das KV</a></span>
            </div>
          </footer>

          <%-include('../layout/adminFooter.ejs')%>