<%- include('../layout/userHeader.ejs')%>
    <section class="userPage">
        <div class="container-fluid pt-5 pb-5"
            style="background: #fff; width: auto; padding: 20px; border-radius: 20px;">
            <div class="row justify-content-center">
                <div class="form-container user-signup">
                    <% if(locals.mail){ %>
                        <form action="/sendForgotOtp" method="post" >
                            <% if(errMsg){%>
                                <div class="errorstyle">
                                    <p style="text-align:center; color: rgb(255, 0, 0);">
                                        <%= errMsg %>
                                    </p>
                                </div>
                                <% } %>
                                    <label for="">Enter Your Email</label>
                                    <input type="email" name="email" required>
                                    <input type="submit" class="btn btn-success" value="Send OTP">
                        </form>
                        <% } %>
                            <% if(locals.otpPage){ %>
                                <form action="/verifyForgotPasswordOtp" method="post">
                                    <% if(errMsg){%>
                                        <div class="errorstyle">
                                            <p style="text-align:center; color: rgb(255, 0, 0);">
                                                <%= errMsg %>
                                            </p>
                                        </div>
                                        <% } %>
                                            <label for="">Enter Your OTP</label>
                                            <input type="text" name="otp" required>
                                            <input type="submit" class="btn btn-success" value="Submit OTP">
                                            <p id="ForgotPasswordOtpCountDown" style="text-align: center; font-size: smaller;"></p>

                                </form>
                                <a href="/resendForgotPasswordOtp" id="unhides" style="text-decoration: none;">
                                    <button style="background-color:#e6caf2 ;">Resend OTP</button>
                                </a>
                                <% } %>
                                    <% if(locals.changePassword){ %>
                                        <div class="header">
                                            <h2>Change Password</h2>
                                        </div>
                                        <form class="form"  action="/resetPassword" method="post" onsubmit="return forgotPasswordUpdate()">
                                            <% if(errMsg){%>
                                                <div class="errorstyle">
                                                    <p style="text-align:center; color: rgb(255, 0, 0);">
                                                        <%= errMsg %>
                                                    </p>
                                                </div>
                                                <% } %>
                                            <div class="form-control">
                                                <label for="username">Password</label>
                                                <input type="password" placeholder="Your new Password" name="password" id="password" />
                                                <br>
                                                <small id="passwordError"></small>
                                            </div>
                                            <div class="form-control">
                                                <label for="username">Confirm Password</label>
                                                <input type="password" placeholder="Confirm Password" name="cfmPassword" id="cfmPassword"/>
                                                <br>
                                                <small id="cfmPasswordError"></small>
                                            </div>
                                           
                                            <button type="submit">Submit</button>
                                        </form>


                                        <!-- <section>
                                            <form action="/resetPassword" method="post" onsubmit="return forgotPasswordUpdate()">
                                                <span class="login100-form-title" style="text-align:center;">
                                                    <div>
                                                    Change password
                                                    </div>
                                                </span>
                                                    <br>
                                                    <% if(errMsg){%>
                                                        <div class="errorstyle">
                                                            <p style="text-align:center; color: rgb(255, 0, 0);">
                                                                <%= errMsg %>
                                                            </p>
                                                        </div>
                                                        <% } %>
                                                    <div class="form-control">
                                                        <label for="username">Password</label>
                                                        <input type="password" placeholder="Your new password" name="password" id="password" />
                                                        <br>
                                                        <small id="passwordError"></small>
                                                    </div>
                                                    <br>
                                                    <div class="form-control">
                                                        <label for="username">Confirm Password</label>
                                                        <input type="password" placeholder="Enter your Password" name="cfmPassword" id="cfmPassword"/>
                                                        <small id="cfmPasswordError"></small>
                                                    </div>
                                                    <br>
                                                    <div class="form-control">
                                                    <input type="submit" class="btn btn-success" value="Submit">
                                                </div>
                                            </form>
                                        </section> -->
                                        <% } %>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.getElementById('unhides').style.display="none";
        let seconds=30;
        const x=setInterval(function(){
            seconds--;
            document.getElementById('ForgotPasswordOtpCountDown').innerHTML=`OTP will expire in ${seconds} seconds`
            if(seconds<0){
            clearInterval(x);
            document.getElementById('unhides').style.display="block";
            document.getElementById('ForgotPasswordOtpCountDown').innerHTML=""
        }
        },1000)
       
    </script>
    <%- include('../layout/userFooter.ejs')%>